* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #aaa;
}
img{
    width: 100%;
}
.game{
    max-width: 380px;
    height: 100vh;
    position: relative;
    overflow:  hidden;
    margin: 0 auto;
}
.game.day{
    background-image: url(../images/bg-day.jpg);
}
.game.night{
    background-image: url(../images/bg.jpg);
}
.game > *{
    position: absolute;
    width: 100%;
}



.level-zone{
    height: 50px;
    top: 0;
    left: 0;
}

.monster-zone{
    top: 50px;
    left: 0;
    height: calc(40% - 50px);
}

.monster-hp-bar{
    background-color: #ccc;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
}

.monster-hp{
    height: 100%;
    background-color: #ff0000;
}

.monster-hp span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

@keyframes jump {
    0%   {transform: translate3d(-50%,0,0) scale3d(1,1,1);}
    40%  {transform: translate3d(-50%,-30%,0) scale3d(.7,1.5,1);}
    100% {transform: translate3d(-50%,-100%,0) scale3d(1.5,.7,1);}
}
.monster{
    bottom: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50% , 0);
    animation: jump .5s linear alternate infinite;
    transform-origin: 50% 50%;
    transition: opacity .5s ease;
    opacity: 1;
}

.monster-1{
    width: 70px;
    height: 70px;
    background-color: #ff0000;
}

.monster-2{
    width: 140px;
    height: 70px;
    background-color: #ff0000;
}

.monster-3{
    width: 140px;
    height: 70px;
    border-radius: 100px / 50px;
    background-color: #ff0000;
}
.monster-4{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: #ff0000;
}
.monster-5{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid red;
}
.monster-6{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid red;
}
.monster-7{
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 100px solid red;
    border-bottom: 50px solid transparent;
}

.monster-8{
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 100px solid red;
    border-bottom: 50px solid transparent;
}

.monster-9{
    width: 0;
    height: 0;
    border-top: 100px solid red;
    border-right: 100px solid transparent;
}
.monster-10{
    width: 0;
    height: 0;
    border-top: 100px solid red;
    border-left: 100px solid transparent;   
}
.monster-11{
    width: 0;
    height: 0;
    border-bottom: 100px solid red;
    border-right: 100px solid transparent;
}
.monster-12{
    width: 0;
    height: 0;
    border-bottom: 100px solid red;
    border-left: 100px solid transparent;
}
.monster-13{
    border-bottom: 100px solid red;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 100px;
}
.monster-14{
    width: 150px;
    height: 70px;
    transform: skew(20deg);
    background: red;
}
.monster-15{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid red;
    position: absolute;
}
.monster-15:after {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid red;
    position: absolute;
    content: "";
    top: 30px;
    left: -50px;
  }
.monster-16{
    margin: 50px 0;
    position: absolute;
    display: block;
    color: red;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid red;
    border-left: 100px solid transparent;
}
.monster-16:before {
    border-bottom: 80px solid red;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
}
.monster-16:after {
    position: absolute;
    display: block;
    color: red;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid red;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
  }

.monster-17{
    position: absolute;
    width: 54px;
    box-sizing: content-box;
    border-width: 50px 18px 0;
    border-style: solid;
    border-color: red transparent;
}
.monster-17:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: -85px;
    left: -18px;
    border-width: 0 45px 35px;
    border-style: solid;
    border-color: transparent transparent red;
}
.monster-18{
    width: 100px;
    height: 55px;
    background: red;
    position: absolute;
}

.monster-18:before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid red;
  }

.monster-18:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid red;
  }

.monster-19{
    width: 100px;
    height: 100px;
    background: red;
    position: absolute;
}

.monster-19:before {
    content: "";
    width: 100px;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 29px solid red;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
  }

.monster-19:after {
    content: "";
    width: 100px;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 29px solid red;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
  }  
.monster-20{
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom-color: red;
    position: absolute;
}
.monster-20:after {
    content: '';
    position: absolute;
    left: -50px;
    top: 50px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top-color: red;
  }
.bird-zone{
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    z-index: 999;
}

@keyframes bird-move {
    0%{
        top:0px;
    }
    25%{
        top:5px;
    }
    50%{
        top:10px;
    }
    75%{
        top:5px;
    }
    100%{
        top:0px;
    }
}

.bird{
    position: absolute;
    width: 70px;
    animation-name: bird-move;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.bird.to-right{
    transform: rotateY(180deg);
}

.cloud{
    width: 100px;
    top: 0;
    left: 0;
    transition: all 3s cubic-bezier(0,0,0,0);
    position: absolute;
}

.sun{
    position: absolute;
    top: 50;
    right: 0;
    width: 100px;
    transition:  all 1s cubic-bezier(0,0,0,0);
}

.tank-zone{
    top: 40%;
    left: 0;
    height: 30%;
    background-color: #29ff25;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.tank{
    position: absolute;
    width: 70px;
    height: 50%;
    bottom: 0;
    transform: translate(-50% ,0);
}

.tank-body{
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid #000;
    background-color: blue;
    bottom: 0;
    left: 50%;
    transform: translate(-50% ,0);
    z-index: 2;
}

.tank-gun{
    position: absolute;
    width: 20px;
    height: calc(100% - 40px);
    border: 3px solid #000;
    background-color: #ccc;
    bottom: 35px;
    left: 50%;
    transform: translate(-50% ,0);
    border-top: none;
    
}

.tank-gun::after{
    content: '';
    position: absolute;
    top: -5px;
    left: -3px;
    width: 20px;
    box-sizing: border-box;
    height: 10px;
    border-radius: 50%;
    border: 3px solid #000;
    background-color: #ccc;
}

.bullet{
    position: absolute;
    bottom: 100%;
    width: 15px;
    height: 15px;
    border: 1px solid #000;
    background-color:  blue;
    border-radius: 50%;
    transform: translate(-50% , -50%);
    /* transition: all .2s cubic-bezier(0,0,0,0); */
}

.upgrade-zone{
    height: 30%;
    background-color: #ff0000;
    top: 70%;
    left: 0;
}
